.banner{
    background-image:linear-gradient(to bottom, rgba(30, 35, 56, 0.5), rgba(25, 54, 50, 0.5)),
    url('../../../media/img/hero-banner.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-header{
    font-size: 5rem;
    font-weight: 700;
    color: white;
    width: 70%;
    margin: 0 auto;
}
.banner-sub-header{
    font-size: 1.3rem;
    color: #d8c7c6;
    font-weight: 300;
    
}

.banner-btn{
    padding: .7rem 2.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #F56960;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    transition: .3s background-color;
}
.banner-btn:hover{
    background-color: slateblue;
}

@media  only screen and (max-width:768px) {
    .banner{
        height: 50%;
        padding: 20px 0
    }
    .banner-header{
        font-size: 2.3rem;
    }
    .banner-sub-header{
        font-size: 1.3rem;
    }
    .banner-btn{
        padding: .4em 1.5em;
    }
}