.footer-container{
    

     margin-top: auto;
}
.footer{
    background-color: #110235;
   
    padding: 30px;
    padding-top: 50px;
   
   
     /* Height of the footer */

    text-align: left;
   

  
}
.presence ul{
   list-style:none ;
}
.presence a{
    text-decoration: none;
    color: lightgray;
}
.presence li{
    transition: .3s letter-spacing;
}
.presence li:hover{
 letter-spacing: 3px;

}
.presence a:hover{
    color:#dc3d4b ;
}